/* =========================
   SIDEBAR
========================= */

.sidebar{

  height:100%;

  display:flex;

  flex-direction:column;

}

/* =========================
   MENU
========================= */

.menu{

  display:flex;

  flex-direction:column;

  gap:8px;

}

/* =========================
   LINK
========================= */

.link{

  display:flex;

  align-items:center;

  padding:14px 16px;

  border-radius:12px;

  text-decoration:none;

  color:#cbd5e1;

  font-size:14px;

  font-weight:500;

  transition:0.3s;

}

.link:hover{

  background:#1e293b;

  color:#ffffff;

}

/* =========================
   ACTIVE
========================= */

.active{

  background:#6366f1;

  color:#ffffff;

}
